/* src/views/ChatBox.css */
.chatbox {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1000;
  }
  
  .chatbox.closed {
    transform: translateY(100%);
    opacity: 0;
  }
  
  .chatbox.open {
    transform: translateY(0);
    opacity: 1;
  }
  
  .chatbox-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .chatbox-body {
    padding: 10px;
    max-height: 250px;
    overflow-y: auto;
  }
  
  .messages {
    margin-bottom: 10px;
  }
  
  /* src/views/ChatBox.css */
.message {
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    word-wrap: break-word;
    color: #333; /* Cambia este color por el que desees para el texto */
    font-size: 1rem; /* Ajusta el tamaño de la fuente si es necesario */
  }
  
  
  .chatbox-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .chatbox-footer input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .chatbox-footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .chatbox-footer button:hover {
    background-color: #0056b3;
  }
  
  .chatbox-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  